# Automake
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.log
/config.sub
/configure
/install-sh
/missing

# Build artifacts
/Darwin/lowmem
/Darwin/pagezero
/Makefile
/SheepShaver
/basic-dyngen-ops.hpp
/config.h
/config.status
/dyngen
/obj
/ppc-dyngen-ops.hpp
/ppc-execute-impl.cpp
/stamp-h1
